:root {
    --main-color: #6c112f;
    --bg-color: #fefbf1;
    --accent-color: #fef4dd;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--accent-color);
    position: sticky;
    top: 0;
    height: 62px;
}

#logo-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
}

#logo-div:hover::before {
    animation: shine 0.6s ease-in-out;
}

#logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

#logo-div:hover {
    filter: brightness(1.3);
}

@keyframes shine {
    from {
        left: -100%;
    }
    to {
        left: 150%;
    }
}

#logo-img {
    margin: 10px;
    width: 33px;
    height: 33px;
}

#logo-title {
    font-size: 1rem;
    font-family: "Outfit", serif;
    font-weight: 550;
}

#nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.nav-item {
    text-decoration: none;
    margin: 35px;
    font-family: "Outfit", serif;
    font-size: 1.2rem;
    font-weight: 550;
    cursor: pointer;
    color: #333333;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

.nav-item.underline {
    text-decoration: underline;
    color: black;
}

.nav-item:hover {
    transform: scale(1.1);
    color: black;
}

#banner {
    width: 100%;
    position: relative;
    z-index: -1;
}

#banner-img {
    width: 100%;
    display: block;
}

#banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#banner-logo {
    filter: brightness(0) invert(1);
    margin: 20px;
}

#banner-text {
    color: white;
    font-size: 4rem;
    font-family: "Outfit", serif;
}

#banner-title {
    margin: 0;
}

#banner-subtitle {
    margin: 0;
    font-size: 1.5rem;
    color: lightgrey;
}

main {
    background-color: var(--bg-color);
    height: 100%;
    transition: all 0.5s ease-in-out;
    animation: appear 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

main img {
    width: 585px;
}

@keyframes appear {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    height: 171px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: brightness(0) opacity(0.3);
}

#footer-logo #logo-img {
    height: 43px;
    width: auto;
}

#footer-logo #logo-title {
    font-size: 1.2rem;
}

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    font-family: "Outfit", serif;
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 900px;
    height: 307px;

    margin: 0 auto 48px;
}

.article-image {
    width: 320px;
    height: 180px;
    border-radius: 16px;
    object-fit: cover;
}

.article-link {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 12px 16px;
    transition: all 0.2s ease-in-out;
}

.article-link:hover {
    transform: scale(1.05);
    filter: brightness(1.1) drop-shadow(0 0 10px rgba(0, 0, 0, 0.27));
}

.article-side {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 48px;
    height: 179px;
    width: 100%;
}

.article-title {
    font-size: 2.1rem;
    margin: 0;
}

.article-summary {
    margin-top: 12px;
    filter: opacity(0.55);
}

.article-footer {
    margin-top: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article-date {
    margin: 0;
    filter: opacity(0.55);
}